<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Ru">
<head>
    <title>Создание пользователя</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Создание нового пользователя</h1>

<a th:href="@{/users}">← Назад к списку пользователей</a>

<form th:action="@{/users/create}" th:object="${user}" method="post">
    <div>
        <label>Имя:</label>
        <label>
            <input type="text" th:field="*{name}" required>
        </label>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <div>
        <label>Email:</label>
        <label>
            <input type="email" th:field="*{email}" required>
        </label>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>

    <div>
        <label>Возраст:</label>
        <label>
            <input type="number" th:field="*{age}" min="18" max="75" required>
        </label>
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    </div>

    <button type="submit">Создать пользователя</button>
</form>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
</body>
</html>